
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Novo Clinic Management System</title>
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/responsiveslides.css" rel="stylesheet" />
    <link rel="icon" href="~/favicon.ico" type="image/gif" sizes="16x16">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    <script src="~/Scripts/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {

            // Slideshow 1
            $("#slider1").responsiveSlides({
                maxwidth: 1600,
                speed: 600
            });
        });
    </script>
</head>
<body>
    <!--start-wrap-->
    <!--start-header-->
    <div class="header">
        <div class="wrap">
            <!--start-logo-->

            <img src="~/Content/images/logo.png" width="250" />


            <!--end-logo-->
            <!--start-top-nav-->
            <div class="top-nav">
                <ul>
                    <li class="active"><a href="~/Account/Login">Login Here</a></li>


                    <li><a href="~/Account/Register">Register Now</a></li>

                </ul>
            </div>
            <div class="clear"> </div>
            <!--end-top-nav-->
        </div>
        <!--end-header-->
    </div>
    <div class="clear"> </div>
    <!--start-image-slider---->
    <div class="image-slider">
        <p align="center">
            <!-- Slideshow 1 -->
            <ul class="rslides" id="slider1">
                <li><img src="~/Content/images/Group-of-happy-doctors-at-hospital-Stock-Photo-03b.jpg" /></li>



            </ul>

        </p>
        <!-- Slideshow 2 -->
    </div>
    <!--End-image-slider---->
    <div class="clear"> </div>
    <div class="content-grids">
        <div class="wrap">
            <div class="section group">
                <div class="listview_1_of_3 images_1_of_3">
                    <div class="listimg listimg_1_of_2">




                        <img src="~/Content/images/frontdesk_burned (1).png" />
                    </div>
                    <div class="text list_1_of_2">
                        <h3>Front Desk</h3>
                        <p>View Patients List, Appointments and Book Appointments</p>
                        <div class="button"><span></span></div>
                    </div>

                </div>

                <div class="listview_1_of_3 images_1_of_3">
                    <div class="listimg listimg_1_of_2">



                        <img src="~/Content/images/nurse_icon_cartoon_style_white_background_cg2p53158049c_th_burned (1).png" />
                    </div>
                    <div class="text list_1_of_2">
                        <h3>Nurse </h3>
                        <p>View Patients List, Appointments and give medications</p>
                        <div class="button"><span></span></div>
                    </div>
                </div>

                <div class="listview_1_of_3 images_1_of_3">
                    <div class="listimg listimg_1_of_2">




                        <img src="~/Content/images/drnrs_burned (1).png" />

                    </div>
                    <div class="text list_1_of_2">
                        <h3>Doctor</h3>
                        <p>View Appointments, Attend to Patients and Drug Prescription</p>
                        <div class="button"></div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="wrap">
        <div class="content-box">
            <div class="section group">
                <div class="col_1_of_3 span_1_of_3 frist">

                </div>
                <div class="col_1_of_3 span_1_of_3 second">

                </div>
                <div class="col_1_of_3 span_1_of_3 frist">


                </div>
            </div>
        </div>
    </div>
    <div class="clear"> </div>
    <div class="footer">
        <div class="wrap">
            <div class="footer-left">
                <script language='JavaScript' type='text/javascript'>
<!--
                    function y2k(number) { return (number < 1000) ? number + 1900 : number; }
                    var today = new Date();
                    var year = y2k(today.getYear());
                    document.write('&copy; ' + year + ' Novo Health Africa - All Rights Reserved');
//--> </script>
            </div>

            <div class="clear"> </div>
        </div>
    </div>
    <!--end-wrap-->
</body>
</html>

